:root {
  background-color: #0d1117;
}

.title-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4em;
  color: aliceblue;
  text-align: center;
  font-family: 'Trebuchet MS';
  min-height: 150px;
  padding: 20px;
  box-sizing: border-box;
}

.title-container h1 {
  max-width: 600px;
  white-space: pre-wrap;
}

.big-container {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.etapas-container {
  height: 60vh;
  width: 280px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.dropzone-and-buttom {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: flex-end;
  justify-content: space-evenly;
  width: 300px;
}

.dropzone {
  border: 3px dashed #000000;
  padding: 2rem;
  background-color: #4a4a4a;
  text-align: center;
  transition: background-color 0.3s, border-color 0.3s;
  border-radius: 10px;
  cursor: pointer;
  color: aliceblue;
  width: 100%; 
}

.beautiful-button {
  position: relative;
  display: inline-block;
  background: linear-gradient(to bottom, #cdd5e2, #000000);
  color: white;
  font-family: "Segoe UI", sans-serif;
  font-weight: bold;
  font-size: 18px;
  border: none;
  border-radius: 30px;
  padding: 14px 28px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  animation: button-shimmer 2s infinite;
  transition: all 0.3s ease-in-out;
  margin-left: 4.7rem;
}

/* Hover animation */
.beautiful-button:hover {
  background: linear-gradient(to bottom, #2f81f7, #000000);
  animation: button-particles 1s ease-in-out infinite;
  transform: translateY(-2px);
}

/* Click animation */
.beautiful-button:active {
  transform: scale(0.95);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.preview-container {
  text-align: center;
  margin-right: 100px; 
  width: 250px; 
}

.preview-container h4 {
  margin: 0;
  width: 100%;
  font-size: 24px;
  color: aliceblue;
}

.file-list {
  color: aliceblue;
  max-height: 400px;
  overflow-y: auto;
  padding-left: 10px;
  padding-right: 10px;
  scrollbar-width: thin; 
  scrollbar-color: #888 #2b2b2b; 
}


.file-list li {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 10px 0;
}

.file-preview {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  object-fit: cover;
}

.file-path {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: calc(100% - 70px);
}

.context-menu {
  padding: 10px;
  cursor: pointer;
  border-radius: 3px;
  list-style-type: none;
  background-color: white;
  border: 2px solid black;
}

.context-menu:hover {
  background:#929090;
}

nav,
form {
  .etapa {
    background-color: transparent;
    border: none;
    padding: 10px;
    color: white;
    display: flex;
    position: relative;
    gap: 5px;
    cursor: pointer;
    border-radius: 4px;
    font-size: x-large
  }

  .etapa:not(:active):hover,
  .etapa:focus {
    background-color: #21262C;
  }

  .etapa:focus,
  .etapa:active {
    background-color: #1A1F24;
    outline: none;
  }

  .etapa::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -10px;
    width: 5px;
    height: 80%;
    background-color: #2F81F7;
    border-radius: 5px;
    opacity: 0;
  }

  .etapa.active::before,
  .etapa:focus::before,
  .etapa:active::before {
    opacity: 1;
  }

}
